.swiper-slide {
  transition: transform 0.5s;
  border-radius: 16px;
  background: transparent;
}



.swiper-slide-visible {
  opacity: 1 !important;
}

.swiper-slide {
    opacity: 0;
    
}





.swiper-slide-next, .swiper-slide-prev {
  scale: 0.8;
}




.swiper-button-prev, .swiper-button-next {
  color: #FFF;
}



@media (min-width: 1024px) { /* Ajuste o valor conforme necessário para o seu breakpoint de desktop */
  .swiper-button-prev {
    left: 6.5rem;
  }
  
  .swiper-button-next {
    right: 6.5rem;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
font-weight: 700;
font-size: 33px;
}
.swiper-slide-next {
  position: relative;
  right: -2rem;
}

.swiper-slide-prev {
  position: relative;
  left: -3rem;
}
}

.swiper-slide-next {
  position: relative;
  right: -1.5rem;
}

.swiper-slide-prev {
  position: relative;
  left: -1.5rem;
}

  .swiper-button-prev {
    left: 5rem;
  }
  
  .swiper-button-next {
    right: 5rem;
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    font-weight: 700;
    font-size: 22px;
}



@media (min-width: 1536px) {
  .texto-hero {
  position: relative;
  top: -6rem;
}
}


