@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
 font-family: "Right", sans-serif;
}

.wp-block-heading {
    margin-bottom: 1rem;
}

.wp-block-list li {
margin-bottom: .5rem;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;    
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Importando as fontes */
@font-face {
  font-family: "Editorial";
  src: url("/fonts/editorial/PPEditorialOld-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/editorial/PPEditorialOld-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/editorial/PPEditorialOld-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/editorial/PPEditorialOld-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Editorial";
  src: url("/fonts/editorial/PPEditorialOld-UltraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right";
  src: url("/fonts/right/PPRightGothic-WideRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Right";
  src: url("/fonts/right/PPRightGothic-WideMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Right";
  src: url("/fonts/right/PPRightGothic-WideBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Right";
  src: url("/fonts/right/PPRightGothic-WideBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* globals.css */
.font-editorial {
  font-family: "Editorial", sans-serif;
}

.font-right {
  font-family: "Right", sans-serif;
}

.bg-fundo-blog {
  background-color: #FCFBFB;
}

.primary-color {
color: #CFAC9F;
}

.fundo-categoria {
background-color: #CFAC9F;
}

.fundo-depoimentos {
  background-color: #f6f3ed;
}


